<div class="row login-row">
    <div class="col-lg-6">
      <h2>マイページ</h2>
      <p><strong>＜登録情報＞</strong></p>
      <%= link_to "編集する", edit_customers_path, class: "btn btn-success" %>
      <table class="table table-borderd">
        <thread>
          <tr class="table-head" style="background-color:#F5F5F5;">
            <th scope="col">氏名</th>
            <td style><%= @customer.first_name %><%= @customer.last_name %></td>
          </tr>
          <tr class="table-head" style="background-color:#F5F5F5;">
            <th scope="col">カナ</th>
            <td style><%= @customer.first_name_kana %><%= @customer.last_name_kana %></td>
          </tr>
          <tr class="table-head" style="background-color:#F5F5F5;">
            <th scope="col">郵便番号</th>
            <td style><%= @customer.postal_code %></td>
          </tr>
          <tr class="table-head" style="background-color:#F5F5F5;">
            <th scope="col">住所</th>
            <td style><%= @customer.address %></td>
          </tr>
          <tr class="table-head" style="background-color:#F5F5F5;">
            <th scope="col">電話番号</th>
            <td style><%= @customer.telephone_number %></td>
          </tr>
          <tr class="table-head" style="background-color:#F5F5F5;">
            <th scope="col">メールアドレス</th>
            <td style><%= @customer.email %></td>
          </tr>
        </thread>
      </table>
    </div>
  <div class="col-lg-12">
    <h4>配送先</h4>
      <%= link_to "一覧を見る", addresses_path,class: "btn btn-primary" %><br />
    <h4>注文履歴</h4>
      <%= link_to "一覧を見る", orders_path, class: "btn btn-primary" %><br />
  </div>
</div>