<div class="row login-row">
  <h2>マイページ</h2>
  <div class="col-xs-10 col-xs-offset-1"style="margin-top: 50px;">
    <p><strong>登録情報</strong></p>
    <%= link_to "編集する", edit_public_customer_path(@customer), class: "btn btn-success" %>
    <%= link_to "パスワードを変更する", edit_customer_registration_path, class: "btn btn-danger" %>
    <table class="table table-borderd">
      <thread>
        <tr class="table-head" style="background-color:#F5F5F5;">
          <th scope="col">氏名</th>
          <td style><%= @customer.first_name %>&ensp;<%= @client.last_name %></td>
        </tr>
        <tr class="table-head" style="background-color:#F5F5F5;">
          <th scope="col">カナ</th>
          <td style><%= @customer.first_name_kana %>&ensp;<%= @client.last_name_kana %></td>
        </tr>
        <tr class="table-head" style="background-color:#F5F5F5;">
          <th scope="col">郵便番号</th>
          <td style><%= @customer.postal_code %></td>
        </tr>
        <tr class="table-head" style="background-color:#F5F5F5;">
          <th scope="col">住所</th>
          <td style><%= @customer.address %></td>
        </tr>
        <tr class="table-head" style="background-color:#F5F5F5;">
          <th scope="col">電話番号</th>
          <td style><%= @customer.telephone_number %></td>
        </tr>
        <tr class="table-head" style="background-color:#F5F5F5;">
          <th scope="col">メールアドレス</th>
          <td style><%= @customer.email %></td>
        </tr>
      </thread>
  </div>
  </table>
  <h2>配送先</h2>
    <%= link_to "一覧を見る", class: "btn btn-primary" %>
  <h2>注文履歴</h2>
    <%= link_to "一覧を見る", new_public_order_path, class: "btn btn-primary" %>
</div>