<div class="container">
  <div class="row">
    <%= form_with model: @item, url: admin_items_path, method: :post do |f| %>
    <h2>商品新規登録</h2>
      <div class="col-xs-5">
        <div class="field">
          <%= f.label :"商品画像" %>
          <%= f.file_field :image, accept: "image/*" %>
        </div>
      </div>
      <div class="col-xs-7">
        <div class="field">
          <%= f.label :"商品名" %><br />
          <%= f.text_field :name, class: "form" %>
        </div>
        <div class="field">
          <%= f.label :introduction, "商品説明" %><br />
          <%= f.text_area :introduction, class: "form" %>
        </div>
        <div class="field">
          <%= f.label :"ジャンル" %><br />
          <%= f.collection_select :genre_id, Genre.all, :id, :name, prompt: "選択してください" %>
        </div>
        <div class="field">
          <%= f.label :"税抜価格" %><br />
          <%= f.text_field :price, class: "form" %>
        </div>
        <div class="field">
          <%= f.radio_button :is_active, :true %>
          <%= f.label :is_active, "販売中", {value: :"販売中", style: "display: inline-block;"} %>
          <%= f.radio_button :is_active, :false %>
          <%= f.label :is_active, "販売停止中", {value: :"販売停止中", style: "display: inline-block;"} %>
        </div>
        <div class="actions-row">
          <%= f.submit "新規登録", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>