<div class="container">
  <div class="row">
    <div class="center-block">
      <h2>商品詳細</h2>
      <div class="col-lg-3">
        <% if @item.image.attached? %>
          <%= image_tag @item.image, size: "300x217" %>
        <% else %>
          <%= image_tag 'no_image', size: "300x217" %>
        <% end %>
      </div>
      <div class="col-lg-12">
        <table class="table">
          <tr>
            <th>商品名</th>
            <td><%= @item.name %></td>
          </tr>
          <tr>
            <th>商品説明</th>
            <td><%= @item.introduction %></td>
          </tr>
          <tr>
            <th>ジャンル</th>
            <td><%= @item.genre.name %></td>
          </tr>
          <tr>
            <th>税込価格</th>
            <td><%= (@item.price * 1.1).floor %>円</td>
          </tr>
            <tr>
            <th>販売ステータス</th>
            <td>
              <% if @item.is_active == nil %>
                <strong class="text-success">販売中</strong>
              <% else %>
                <strong class="text-danger">販売停止中</strong>
              <% end %>
            </td>
          </tr>
        </table>
        <div>
          <%= link_to "編集する", edit_admin_item_path(@item.id), class: "btn btn-success" %>
        </div>
      </div>
    </div>
  </div>
</div>
