<div class="container">
  <div class="row">
    <div class="col-8">
      <h2>ようこそ！Nagano Cakeへ</h2>
      <p>このサイトは、ケーキや様々な種類のスイーツを販売するECサイトです。</p>
      <p>会員でない方も、商品はご覧いただけますが、</p>
      <p>ご購入の際は、会員登録が必要となります。</p>
      <h2>新着商品</h2>
      <% @items.last(4).each do |item| %>
        <%= link_to item_path(item) do %>
        <% if item.image.attached? %>
          <%= image_tag item.image, size: "300x217" %>
        <% else %>
          <%= image_tag 'no_image', size: "300x217" %>
        <% end %>
      <% end %>
      <div class="row mt-3">
        <span class="red-border px-3">
          <%= item.name %>
        </span>
        <span class="row mt-1">
          <%= (item.price * 1.1).floor %>円
        </span>
      </div>
      <% end %>
    </div>
  </div>
</div>
