<div class="container">
  <div class="row">
    <div class="co-5 mt-5">
      <h2>ようこそ！Nagano Cakeへ</h2>
      <p>このサイトは、ケーキや様々な種類のスイーツを販売するECサイトです。</p>
      <p>会員でない方も、商品はご覧いただけますが、</p>
      <p>ご購入の際は、会員登録が必要となります。</p>
    </div>
  </div>
  <h2>＜新着商品＞</h2>
  <div class="row">
    <% @items.last(4).each do |item| %>
    <div class="col-6 mt-6">
      <%= link_to item_path(item) do %>
        <% if item.image.attached? %>
          <%= image_tag item.image, size: "300x217" %>
        <% else %>
          <%= image_tag 'no_image', size: "300x217" %>
        <% end %>
      <% end %><br />
      <strong class="red-border"><%= item.name %></strong><br />
      <span class="ml-auto">(税込)<%= (item.price * 1.1).floor %>円</span>
    </div>
    <% end %>
  </div>
</div>

