<div class="container">
  <div class="row">
    <%= form_with model: @customer, url: admin_customer_path, method: :patch do |f| %>
    <h2><%= @customer.first_name %><%= @customer.last_name %>さんの会員情報編集</h2>
      <div class="col-xs-7">
        <div class="field">
          <%= f.label :"会員id" %>
          <%= customer.id %>
        </div>
        <div class="field">
          <%= f.label :"氏名" %>
          <%= f.text_field :first_name, class: "form" %>
          <%= f.text_field :last_name, class: "form" %>
        </div>
        <div class="field">
          <%= f.label :"フリガナ" %>
          <%= f.text_field :first_name_kana, class: "form" %>
          <%= f.text_field :last_name_kana, class: "form" %>
        </div>
        <div class="field">
          <%= f.label :"郵便番号" %>
          <%= f.text_field :postal_code, class: "form" %>
        </div>
        <div class="field">
          <%= f.label :"住所" %>
          <%= f.text_area :address, :size => "60x10" %>
        </div>
          <div class="field">
          <%= f.label :"電話番号" %>
          <%= f.text_field :telephone_number, class: "form" %>
        </div>
        <div class="field">
          <%= f.label :"メールアドレス" %>
          <%= f.text_field :email, class: "form" %>
        </div>
          <div class="field">
          <%= f.label :"会員ステータス" %>
          <%= f.radio_button :is_active, :有効 %>
          <%= f.radio_button :is_active, :退会 %>
        </div>
        <div class="actions-row">
          <%= f.submit "変更を保存", class: "btn btn-success" %>
        </div>
      </div>
    <% end %>
  </div>
</div>