<div class="container">
  <div class="row">
    <div class="center-block">
      <h2>注文履歴詳細</h2>
      <div>購入者：<%= @order.customer.first_name %><%= @order.customer.last_name %></div>
      <div>注文日：<%= @order.created_at.strftime('%Y/%m/%d %H:%M:%S') %></div>
      <div>
        配送先：〒<%= @order.shipping_post_code %><br />
        <%= @order.shipping_adress %><br />
        <%= @order.shipping_name %></div>
      <div>支払い方法：<%= @order.payment_method_i18n %></div>
        <table border="1">
         <thead>
           <tr>
             <th>商品名</th>
             <th>単価</th>
             <th>数量</th>
             <th>小計</th>
             <th>制作ステータス</th>
           </tr>
         </thead>
         <tbody>
           <% @order_details.each do |order_detail| %>
           <tr>
             <td>
               <%= order_detail.item.name %>
             </td>
             <td>
               <%= (order_detail.purchase_price * 1.1).floor %>
             </td>
             <td>
               <%= order_detail.amount %>
             </td>
             <td>
               <%= (order_detail.purchase_price * 1.1).floor * order_detail.amount %>
             </td>
             <%= form_with model: order_detail, url: admin_order_detail_path(order_detail.id), method: :patch do |f| %>
             <td>
                <%= f.radio_button :product_status, "product_impossible" %>
                <%= f.label :product_status, "製作不可", {value: :"製作不可", style: "display: inline-block;"} %>
                <%= f.radio_button :product_status, "wait_product" %>
                <%= f.label :product_status, "製作待ち", {value: :"製作待ち", style: "display: inline-block;"} %>
                <%= f.radio_button :product_status, "producting" %>
                <%= f.label :product_status, "製作中", {value: :"製作中", style: "display: inline-block;"} %>
                <%= f.radio_button :product_status, "complete_product" %>
                <%= f.label :product_status, "製作完了", {value: :"製作完了", style: "display: inline-block;"} %>
                <%= f.submit "更新", class: "btn btn-success" %>
             </td>
             <% end %>
           </tr>
          <% end %>
         </tbody>
        </table>
        <div>
          商品合計：<%= @total %>円
        </div>
        <div>
          送料：800円
        </div>
        <div>
          請求金額合計：<%= @total + 800 %>円
        </div>
    </div>
  </div>
</div>