<div class="container my-5">
  <div class="row">
    <div class="offset-1">
      <%= flash[:order_new] %>
      <h2 class="red-border px-3">購入情報入力</h2>
    </div>
  </div>
  <div class="row mt-5">
    <div class="offset-2 col-5">
      <div class="row">
        <strong class="red-border px-3">
          お支払い方法
        </strong>
      </div>
      <%= form_with model: @order, url: orders_confirm_path, method: :post do |f| %>
        <div class="form-check mt-3">
          <%= f.radio_button :payment_method, "credit_card" %>
          <%= f.label :payment_method, "クレジットカード", {value: :"クレジットカード", style: "display: inline-block;"} %>
          <%= f.radio_button :payment_method, "transfer" %>
          <%= f.label :payment_method, "銀行振込", {value: :"銀行振込", style: "display: inline-block;"} %>
        </div>
        <div class="row mt-3">
          <strong class="red border px-3">
            お届け先
          </strong>
        </div>
        <div class="form-check mt-3">
          <%= f.radio_button :select, :my_address %>
          <%= f.label :select, "ご自身の住所", {value: :"my_address", style: "display: :inline-block;"} %>
          <br />
          <%= address = "〒" + current_customer.postal_code + current_customer.address %>
          <br />
          <%= address = current_customer.first_name + current_customer.last_name + "様" %>
          <br />
          <br />
          <%= f.radio_button :select, :select_address %>
          <%= f.select :address_id, options_from_collection_for_select(current_customer.addresses, :id, :address_display) %>
        </div>
      <br />
    </div>
    <div class="offset-2 col-5">
      <di class="row">
        <strong class="red border px-3"><%= f.radio_button :select, :new_address %>新しいお届け先を登録する</strong>
      </div>
      <div class="offset-2 col-5">
        <div class="row">
          <div class="form-group row mt-3">
            <%= f.text_field :potal_code, placeholder: "郵便番号", class: "form-control offset-1 col-10" %>
          </div>
          <div class="form-group row">
            <%= f.text_field :address, placeholder: "住所", class: "form-control offset-1 col-10" %>
          </div>
          <div class="form-group row">
            <%= f.text_field :last_name, placeholder: "姓", class: "form-control offset-1 col-5" %>
            <%= f.text_field :first_name, placeholder: "名", class: "form-control offset-1 col-5" %>
          </div>
          <div class="row">
            <%= f.submit "確認画面へ進む", class: "btn btn-md btn-outline-danger ml-auto" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
