<div class="container my-5">
 <div class="row">
    <div class="col-3">
      <%= render 'genrebox', genres: @genres %>
    </div>
    <div class="col-9">
      <div class="row">
        <h2 class="red-border px-3">
          <% if params[:genre_id] %>
            <%= @genre.name %>
          <% else %>
            すべての商品
          <% end %>
        </h2>
       </div>
      <div class="row my-3 ml-1">
        <strong class="brown-border">
          全
          <% if params[:genre_id] %>
    	     <%= @items.order(created_at: :desc).where(is_active: "True").count %>
          <% else %>
    		    <%= Item.where(is_active: "True").count %>
          <% end %>
          件
        </strong>
      </div>
	    <div class="row">
	    	<% @items.each do |item| %>
          <div class="col-5 mt-5">
		        <%= link_to item_path(item) do %>
            <% if item.image.attached? %>
               <%= image_tag item.image, size: "300x217" %>
            <% else %>
                <%= image_tag 'no_image', size: "300x217" %>
            <% end %>
		        <% end %><br>
		        <span class="text-muted"><%= link_to item.genre.name, item_path(item.id) %></span><br>
		        <strong class="red-border"><%= item.name %></strong><br>
		        <span class="ml-auto"><%= (item.price * 1.1).floor %>円</span><br>
          </div>
        <% end %>
	    </div>
   </div>
  </div>
 <div class="container">
	<div class="row">
	 <div class="col-md-4 offset-md-4 py-2 mt-5">
	 	<%= paginate @items %>
	 </div>
	</div>
 </div>
 </div>
