<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
      <a class="navbar-brand text-left" href="/">Nagano Cake</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
          <% if customer_signed_in? %>
            <span class="customer_name">
              ようこそ、<%= current_customer.first_name %><%= current_customer.last_name %>
            </span>
            <li class="nav-item">
              <%= link_to public_customer_path(@customer.id), class: 'nav-link text-dark' do %><i class="fas fa-list"></i> マイページ<% end %>
            </li>
            <li class="nav-item">
                <%= link_to public_items_path, class: 'nav-link text-dark' do %><i class="far fa-address-book"></i> 商品一覧<% end %>
            </li>
            <li class="nav-item">
               <%= link_to admin_genres_path, class: 'btn btn-default' do %><i class="fas fa-info-circle"></i> カート<% end %>
            </li>
            <li class="nav-item">
              <%= link_to destroy_customer_session_path, method: :delete, class: 'nav-link text-dark' do %><i class="fas fa-sign-out-alt"></i> ログアウト<% end %>
            </li>
              <% else %>
            <li class="nav-item">
              <%= link_to new_customer_registration_path, class: 'nav-link text-dark' do %><i class="fas fa-user-plus"></i> 新規登録<% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_customer_session_path, class: 'nav-link text-dark' do %><i class="fas fa-sign-in-alt"></i> ログイン<% end %>
            </li>
          </ul>
        </div>
    </div>
</nav>
        <% elsif admin_signed_in? %>
            <li class="nav-item">
              <%= link_to admin_items_path, class: 'nav-link text-dark' do %><i class="fas fa-list"></i> 商品一覧<% end %>
            </li>
            <li class="nav-item">
                <%= link_to admin_customers_path, class: 'nav-link text-dark' do %><i class="far fa-address-book"></i> 会員一覧<% end %>
            </li>
            <li class="nav-item">
               <%= link_to admin_genres_path, class: 'btn btn-default' do %><i class="fas fa-info-circle"></i> ジャンル一覧<% end %>
            </li>
            <li class="nav-item">
              <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' do %><i class="fas fa-sign-out-alt"></i> ログアウト<% end %>
            </li>
          </ul>
        </div>
      </div>
      </nav>
        <%= render 'layouts/admin' %>
      <% else %>
      <li class="nav-item">
        <%= link_to new_customer_registration_path, class: 'nav-link text-dark' do %><i class="fas fa-user-plus"></i> 新規登録<% end %>
      </li>
      <li class="nav-item">
        <%= link_to new_customer_session_path, class: 'nav-link text-dark' do %><i class="fas fa-sign-in-alt"></i> ログイン<% end %>
      </li>
      <% end %>
    </header>
    <%= yield %>
    <footer>
       <p class="text-center">CopyRight nagano-cafe.inc</p>
    </footer>
  </body>
</html>
